<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GEOweb map</title>
    <script src="../../version.js"></script>
    <script type="text/javascript" language="javascript">
    var inHold = false;
    function includeSync(urlArr, urlIDX) {
        if (urlIDX >= urlArr.length) {
            $.holdReady(false);
            return;
        }
        if (window.jQuery && !inHold) {
            $.holdReady(true);
            inHold = true;
        }
        var incUrl = urlArr[urlIDX];
        var incType = incUrl.split('.').pop();
        var xhr = new XMLHttpRequest();
        xhr.open('GET', incUrl + '?v=' + gcVersion);
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) { //4=this.DONE
                xhr.onreadystatechange = null;
                var responseTxt = this.responseText;
                if (incType === 'css') {
                    var incItem = document.createElement('style');
                    incItem.type = 'text/css';
                    var incPath = incUrl.replace(/[^/.]*\.css$/, '');
                    if (incPath.length > 0) {
                        responseTxt = responseTxt.replace(/url\(['"]([^./][^:]*\.png)['"]\)/g, 'url("' + incPath + "/$1" + '")');
                        responseTxt = responseTxt.replace(/url\(['"]([^./][^:]*\.gif)['"]\)/g, 'url("' + incPath + "/$1" + '")');
                        responseTxt = responseTxt.replace(/url\(([^./][^:]*\.png)\)/g, 'url("' + incPath + "/$1" + '")');
                        responseTxt = responseTxt.replace(/url\(([^./][^:]*\.gif)\)/g, 'url("' + incPath + "/$1" + '")');
                    }
                }
                else if (incType === 'js') {
                    var incItem = document.createElement("script");
                    incItem.type = 'text/javascript';
                }
                incItem.innerHTML = responseTxt;
                document.getElementsByTagName('head')[0].appendChild(incItem);
                includeSync(urlArr, urlIDX+1);
            }
        };
        xhr.send();
    }
    if (typeof(gcVersion) == 'undefined' || !gcVersion)
        var gcVersion = '3.0.0.0';
        var gcIncludes = [
            "../../resources/css/bootstrap.min.css",
            "../../resources/themes/openlayers/style.css",
            "../../resources/css/gotoPanel.css",
            "../../resources/external/FlexiColorPicker/colorpicker.js",
            "../../resources/external/FlexiColorPicker/themes.css",
            "../../resources/jslib/jquery.min.js",
            "../../resources/jslib/jquery.easyui.min.js",
            // ***************************************************************************************
            // **** Insert configuration files here
            "../../config/config.js",
            // ***************************************************************************************
            "../../resources/external/select2/select2.js",
            "../../resources/external/sprintf.min.js",
            "../../resources/themes/black/tree.css",
            "../../resources/jslib/OpenLayers.js",
            "../../resources/jslib/gcOloverride.js",
            // ***************************************************************************************
            // **** Insert library files here
            "../../resources/jslib/QueryMap.js",
            "../../resources/jslib/GisClientMap.js",
            "../../resources/jslib/OverviewMap.js",
            "../../resources/jslib/LayerTree.js",
            "../../resources/jslib/LayerLegend.js",
            "../../resources/jslib/LoadingPanel.js",
            "../../resources/jslib/PrintMap.js",
            "../../resources/jslib/DynamicMeasure.js",
            "../../resources/jslib/GeoNoteToolbar.js",
            "../../resources/jslib/StreetViewToolbar.js",
            "../../resources/jslib/StreetViewViewer.js",
            "../../resources/jslib/QueryToolbar.js",
            "../../resources/jslib/ReportToolbar.js",
            "../../resources/jslib/UnRedo.js",
            "../../resources/jslib/GotoDestination.js",
            "/gisclient3/services/iren/pipeSelect.js",
            // ***************************************************************************************
            "../../resources/jslib/dynamicTemplateFunction.js",
            "../../resources/jslib/gcComponents.js",
            "index.js",
            "../../resources/jslib/bootstrap.min.js",
            "../../resources/jslib/proj4js.js",
            "../../resources/jslib/md5.min.js",
            "../../resources/jslib/hints.js",
            "../../resources/jslib/ConditionBuilder.js",
            "header.css",
            "toolbars.css",
            "sidebar.css",
            "common.css",
            "../../resources/external/select2/select2.css"
        ]
    includeSync(gcIncludes, 0);
    </script>
  </head>
<body class="map-layout">
<!--  <header>

    <h1> intestazione...... </h1>

  </header>
-->

<div id="map-header">
    <span id="mapset-switcher"><select name="mapset"></select></span>
    <span id="mapset-login"></span>
    <span id="mapset-hints" class="glyphicon-white glyphicon-exclamation-sign" title="Notifiche"></span>
    <span id="mapset-help" class="glyphicon-white glyphicon-question-sign" title="Help Online"></span>
    <span id="mapset-info"title="Informzioni sul mapset"></span>
</div>

  <div id="content">
    <div id="map"></div>
    <div id="map-toolbars-edit">
       <div id="map-toolbar-redline" class="olToolbarsControl"></div>
    </div>
    <div id="map-toolbars">
      <div id="map-toolbar-query" class="olToolbarsControl"></div>
      <div id="map-toolbar-report" class="olToolbarsControl"></div>
      <div id="map-toolbar-measure" class="olToolbarsControl"></div>
      <div id="map-toolbar-tools" class="olToolbarsControl"></div>
      <div id="map-toolbar-streetview" class="olToolbarsControl"></div>
      <div id="map-toolbar-streetview-commander" class="olToolbarsControl"></div>
      <div id="map-toolbar-goto" class="olToolbarsControl">
        <div id="map-toolbar-goto-insert" class="olToolbarsControl"></div>
      </div>
    </div>

    <div id="map-overlay-panel">
      <div id="map-sidebar"></div>
      <div id="sidebar-panel" >
        <div class="panel-header" style="display:none;">
            <div class="panel-title"></div>
            <div class="panel-clearresults"><span class="glyphicon-white glyphicon-ban-circle"></span><span></span></div>
            <div class="panel-close"><span class="glyphicon-white glyphicon-remove"></span><span></span></div>
            <div class="panel-expand"><span class="glyphicon-white glyphicon-arrow-left"></span><span></span></div>
            <div class="panel-collapse"><span class="glyphicon-white glyphicon-arrow-right"></span><span></span></div>
        </div>
        <div class="panel-content">
            <div id="layertree" style="display:none">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#layertree-tree" data-toggle="tab">Layer</a></li>
                        <li><a href="#layerfilter" data-toggle="tab" style="display:none;">Filtri Layer</a></li>
                        <li><a href="#layerlegend" data-toggle="tab">Legenda</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="layertree-tree"></div>
                    <div class="tab-pane" id="layerfilter"></div>
                    <div class="tab-pane" id="layerlegend"></div>
                </div>
            </div>
            <div id="resultpanel" style="display:none"></div>
            <div id="printpanel" style="display:none"></div>
            <div id="dxfexportpanel" style="display:none"></div>
        </div>
      </div>
      <div id="sidebar-drag"></div>
    </div>
  </div>



<!-- Modal -->

<div id="SearchWindow" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="searchWindowModalContent" class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="searchFormTitle">Ricerca</h4>
    </div>
    <div class="modal-body" style="overflow:auto;">
           <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#ricerca" data-toggle="tab">Ricerca</a></li>
        <li role="advanced-search"><a href="#avanzata" data-toggle="tab">Ricerca avanzata</a></li>
        <!--<li><a href="#stile" data-toggle="tab">Stile</a></li>-->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="ricerca">

          Form di ricerca per il livello indicato

        </div>
        <div class="tab-pane" id="avanzata">
          <span> Form di ricerca avanzata per il livello indicato</span>
          <div class="query"></div>
          <button id="btnAdvancedQuery" class="btn btn-default">Cerca</button>

        </div>
        <div class="tab-pane" id="stile">


        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div id="SearchReportWindow" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="searchReportTitle">Ricerca</h4>
    </div>
    <div class="modal-body" style="overflow:auto;">
           <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#ricerca-report" data-toggle="tab">Filtro semplice</a></li>
        <li role="advanced-search"><a href="#avanzata-report" data-toggle="tab">Filtro complesso</a></li>
        <!--<li><a href="#stile" data-toggle="tab">Stile</a></li>-->
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="ricerca-report">

          Filtro per il report indicato

        </div>
        <div class="tab-pane" id="avanzata-report">
          <span> Filtro complesso per il report indicato</span>
          <div class="query-report"></div>
          <button id="btnAdvancedReport" class="btn btn-default">Filtra</button>

        </div>
        <div class="tab-pane" id="stile">


        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<div id="SetLayerFilterWindow" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="SetLayerFilterTitle">Filtra Layer</h4>
    </div>
    <div class="modal-body" style="overflow:auto;">
        <div class="tab-pane" id="avanzata-layerfilter">
          <span> Filtro complesso per il layer:</span>
          <div class="query-layerfilter"></div>
          <button id="btnLayerFilter" class="btn btn-default">Imposta Filtro</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="DetailsWindow" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Dettagli oggetto</h4>
    </div>
    <div class="modal-body" style="overflow:auto;">
    </div>
    </div>
  </div>
</div>

<div id="LoginWindow" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="max-width:400px">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Accedi:</h4>
    </div>
    <div class="modal-body" style="overflow:auto;">
      <form >
            <p><label class="control-label" for="username">Utente</label><br />
            <input type="text" id="username" name="username" placeholder="Utente"></p>
            <p><label class="control-label" for="password">Password</label><br />
            <input type="password" id="password" name="password" placeholder="Password"></p>
            <button id="LoginButton">Invia</button>
      </form>

    </div>
    </div>
  </div>
</div>

<div id="ErrorWindow" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Errori:</h4>
    </div>
    <div class="modal-body" data-role="content" style="overflow:auto;">
    </div>
    <div class="modal-body" data-role="loading" style="overflow:auto;">
    Loading....
    </div>
    </div>
  </div>
</div>

<div id="LoadingReports" class="reportLoadingPanel modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<div id="map-footer">
  <span id="map-fast-search">
    <select name="featureType" style="display:none;"></select>
    <a class="searchButton olLikeButton btn" title="Ricerca" style="display:none;"><span class="glyphicon-white glyphicon-search"></span><span>Ricerca</span></a>
  </span>
  <span id="map-scale">
    <select id="map-select-scale"><option>ELENCO SCALE</option></select>
  </span>
  <span id="map-coordinates"></span>
  <!--<span id="map-footer-info"></span>-->
</div>
<div id="tooltip"></div>
<div id="treeMarker"></div>
<div id="hintsDiv" class="alert alert-custom alert-dismissible hide" role="alert">
  <div id="hintsDivContent"></div>
  <div id="hintsButton" type="button" title="Ricordamelo">
    <span class="glyphicon-white glyphicon-time" aria-hidden="true"></span>
  </div>
</div>
</body>
</html>
