/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 */
body {
    font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #222;
    background: #fff;
    margin: 1em 1.5em;
}
pre, code {
    margin: 1.5em 0;
    white-space: pre;
}
pre, code {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.5;
}
a[href] {
    color: #436976;
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
    color: #003a6b;
    background-color: transparent;
    font: 100% 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #fcb100;
}
h2 {
    font-size: 120%;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #aaa;
}
h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}
h4 {
    font-size: 100%;
    font-weight: bold;
}
h5 {
    font-size: 100%;
    font-weight: bold;
}
h6 {
    font-size: 80%;
    font-weight: bold;
}

.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */
.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
/* mobile specific */
@media only screen and (max-width: 600px) {
    body {
        height           : 100%;
        margin           : 0;
        padding          : 0;
        width            : 100%;
    }
    #map {
        background : #7391ad;
        width      : 100%;
    }
    #map {
        border : 0;
        height : 250px;
    }
    #title {
        font-size   : 1.3em;
        line-height : 2em;
        text-indent : 1em;
        margin      : 0;
        padding     : 0;
    }
    #docs {
        bottom     : 0;
        padding    : 1em;
    }
    #shortdesc {
        color      : #aaa;
        font-size  : 0.8em;
        padding    : 1em;
        text-align : right;
    }
    #tags {
        display : none;
    }
}
@media only screen and (orientation: landscape) and (max-width: 600px) {
    #shortdesc {
       float: right;
       width: 25%;
    }
    #map {
        width: 70%;
    }
    #docs {
        font-size: 12px;
    }
}
body {
    -webkit-text-size-adjust: none;
}

/**
 * Layer switcher
 */
    .olControlLayerTree {
        position: absolute;
        top: 25px;
        right: 0;
        width: 10em;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 3px;
        margin-left: 3px;
        margin-bottom: 3px;
        font-size: smaller;
        color: white;
        background-color: transparent;
    }

    .olControlLayerTree .layersDiv {
        padding-top: 5px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
        background-color: darkblue;
        overflow: auto;
    }

    .olControlLayerTree .layersDiv .baseLbl,
    .olControlLayerTree .layersDiv .dataLbl {
        margin-top: 3px;
        margin-left: 3px;
        margin-bottom: 3px;
    }

    .olControlLayerTree .layersDiv .baseLayersDiv,
    .olControlLayerTree .layersDiv .dataLayersDiv {
        padding-left: 10px;
    }

    .olControlLayerTree .maximizeDiv,
    .olControlLayerTree .minimizeDiv {
        width: 18px;
        height: 18px;
        top: 5px;
        right: 0;
        cursor: pointer;
    }



    .olControlLoadingPanel {
        background-image:url('icons/loading.gif');
        position: relative;
        width: 100%;
        height: 100%;
        background-position:center;
        background-repeat:no-repeat;
        display: block;
    }

    .olControlLayerTreeSwitcher {
        background-color: transparent;
        color: white;
        font-family: sans-serif;
        font-size: smaller;
        font-weight: bold;
        margin-bottom: 3px;
        margin-left: 3px;
        margin-top: 3px;
        position: absolute;
        right: 0;
        top: 42px;
        width: 60em;
        height:400px;
        overflow: scroll;
    }


    .olControlLayerTreeSwitcher {
        background-color: transparent;
        color: white;
        font-family: sans-serif;
        font-size: smaller;
        font-weight: bold;
        margin-bottom: 3px;
        margin-left: 3px;
        margin-top: 3px;
        position: absolute;
        right: 0;
        top: 42px;
        width: 60em;
        height:400px;
    }
    
    .olControlLayerTree {
        position: absolute;
        top: 45px;
        right: 20em;
        width: 40em;
        font-family: sans-serif;
        font-weight: bold;
        margin-top: 3px;
        margin-left: 3px;
        margin-bottom: 3px;
        font-size: smaller;
        color: white;
        background-color: transparent;
    }

    .olControlLegend {
        background-color: transparent;
        color: white;
        font-family: sans-serif;
        font-size: smaller;
        font-weight: bold;
        margin-bottom: 3px;
        margin-left: 3px;
        margin-top: 3px;
        position: absolute;
        right: 0;
        top: 450px;
        width: 60em;
        height:20px;
        overflow: scroll;
    }   
    
    div.olMapViewport {
         z-index: 0;
    }   


    .olImageLoadError {
        visibility: hidden !important;
    }



    #map {
        height: 600px;
        width: 600px;
    
    }


#div-on-top {
    position:absolute; 
    top:10px; 
    left:10px; 
    z-index:10000; 
    width:100px; 
    height:100px; 
    background-color:#FFFFFF;
}
.easyui-datagrid{

    height: 200px;
    margin-top: 20px;
}

        .olControlPanel div { 
          display:block;
          width:  24px;
          height: 24px;
          margin: 5px;
          right: 0;
        }



        .olControlPanel .olControlZoomBoxItemInactive { 
          width:  24px;  
          height: 24px;
          background-image: url("openlayers/img/view_previous_off.png");
        }
        .olControlPanel .olControlZoomBoxItemActive { 
          width:  24px;  
          height: 24px;
          background-image: url("openlayers/img/view_previous_on.png");
        }

        .olControlPanel .olControlGisClientSLDSelectItemActive { 
          width:  24px;  
          height: 24px;
          background-image: url("openlayers/img/draw_polygon_on.png");
        }
        .olControlPanel .olControlGisClientSLDSelectItemInactive { 
          width:  24px;  
          height: 24px;
          background-image: url("openlayers/img/draw_polygon_off.png");
        }

        .olControlPanel .olControlDragPanItemInactive { 
          width:  24px;  
          height: 24px;
          background-image: url("openlayers/img/pan_off.png");
        }
        .olControlPanel .olControlDragPanItemActive { 
          width:  24px;  
          height: 24px;
          background-image: url("openlayers/img/pan_on.png");
        }


        .olControlPanZoomBar{

            margin-top: 90px;


        }