var clientConfig = {
 GISCLIENT_URL : '/gisclient3',
 URL_CLIENT_CONFIG : "/gisclient3/services/clientConfig.php",
 MAPPROXY_URL : '/',
 POPUP_TIMEOUT : 2000,
 // **** Numero massimo di oggetti per layer in interrogazione
 MAX_LAYER_FEATURES : 100,
 // **** Numero massimo totale di oggetti in interrogazione
 MAX_QUERY_FEATURES : 500,
 // **** Templates di stampa
 PRINT_TEMPLATE_HTML : null,
 PRINT_TEMPLATE_PDF : null,
 // **** Default Print Settings
 PRINT_LEGEND_DEFAULT :'yes', // ** null to omit legend by default **
 PRINT_LAYOUT_DEFAULT :'vertical', // ** can be set to 'horizontal' **
 PRINT_FORMAT_DEFAULT :'HTML', // ** Can be set to 'PDF' **
 // **** Dimensioni della Reference Map (in pixel)
 OVERVIEW_MAP_W : 360,
 OVERVIEW_MAP_H : 180,
 // **** Altezza finestra di ricerca (in pixel)
 SEARCH_WINDOW_H : 400,
 // **** Dimensioni del pannello laterale (in pixel)
 RESULT_SMALLTABLE_SIZE : 300,
 // **** Keep current extent on mapset change (default false)
 MAPSET_EXTENT_STICKY: false,
 // **** Chiave per caricamento suggerimenti
 HINTS_KEY  : "gisclient-maps",
 GOTO_DEFAULT_EPSG : ["EPSG:3857", "EPSG:4326", "EPSG:3003", "EPSG:25832", "EPSG:32632"],
 ONLINE_MANUAL_URL : null,
 CLIENT_COMPONENTS : ["StreetViewControl:1:alone", "LayerTreeButton:2:data", "QueryControl:1:data",
                      "PrintControl:1:print", "ReferenceMapControl:2:print"]//,
 //DEFAULT_CONTROL : "move"	,
 /*	**** Stile di evidenziazione custom
    **** Decommentare ed editare per abilitarlo
    RESULT_LAYER_STYLE : {
        'default': {
            fill: false,
            fillColor: "#ff00FF",
            fillOpacity: 0.1,
            hoverFillColor: "white",
            hoverFillOpacity: 0.1,
            strokeColor: "yellow",
            strokeOpacity: 0.4,
            strokeWidth: 4,
            strokeLinecap: "round",
            strokeDashstyle: "solid",
            hoverStrokeColor: "red",
            hoverStrokeOpacity: 1,
            hoverStrokeWidth: 0.2,
            pointRadius: 6,
            hoverPointRadius: 1,
            hoverPointUnit: "%",
            pointerEvents: "visiblePainted",
            cursor: "inherit"
        },
        'select': {
            fill: true,
            fillColor: "blue",
            fillOpacity: 0.4,
            hoverFillColor: "white",
            hoverFillOpacity: 0.8,
            strokeColor: "blue",
            strokeOpacity: 1,
            strokeWidth: 6,
            strokeLinecap: "round",
            strokeDashstyle: "solid",
            hoverStrokeColor: "red",
            hoverStrokeOpacity: 1,
            hoverStrokeWidth: 0.4,
            pointRadius: 8,
            hoverPointRadius: 1,
            hoverPointUnit: "%",
            pointerEvents: "visiblePainted",
            cursor: "pointer"
        },
        'temporary': {
            fill: true,
            fillColor: "EEA652",
            fillOpacity: 0.2,
            hoverFillColor: "white",
            hoverFillOpacity: 0.8,
            strokeColor: "#EEA652",
            strokeOpacity: 1,
            strokeLinecap: "round",
            strokeWidth: 4,
            strokeDashstyle: "solid",
            hoverStrokeColor: "red",
            hoverStrokeOpacity: 1,
            hoverStrokeWidth: 0.2,
            pointRadius: 6,
            hoverPointRadius: 1,
            hoverPointUnit: "%",
            pointerEvents: "visiblePainted",
            cursor: "pointer"
        }
    }
*/
};
