/*
 *
 *
 *
 */

var GISCLIENT_URL = '/gisclient3';
var MAPPROXY_URL = '/';
var POPUP_TIMEOUT = 2000;

// **** Numero massimo di oggetti per layer in interrogazione
var MAX_LAYER_FEATURES = 100;
// **** Numero massimo totale di oggetti in interrogazione
var MAX_QUERY_FEATURES = 500;

// **** Templates di stampa
var PRINT_TEMPLATE_HTML = null;
var PRINT_TEMPLATE_PDF = null;

// **** Default Print Settings
var PRINT_LEGEND_DEFAULT = 'yes'; // ** null to omit legend by default **
var PRINT_LAYOUT_DEFAULT = 'vertical'; // ** can be set to 'horizontal' **
var PRINT_FORMAT_DEFAULT = 'HTML'; // ** Can be set to 'PDF' **

// **** Dimensioni della Reference Map (in pixel)
var OVERVIEW_MAP_W = 360;
var OVERVIEW_MAP_H = 180;

// **** Larghezza del pannello laterale per layertree/query result (in pixel)
var RESULT_SMALLTABLE_SIZE = 300;

// **** Chiave per caricamento suggerimenti
var HINTS_KEY = "gisclient-maps";
